@use 'partials/var';
@use 'partials/header';
@use 'partials/mixins';
@use 'partials/burgermenu';

/* body {
  background-color: var.$bg-color;
  @include mixins.gridD();
  h1 {
    @include mixins.defaultBorder();
    @include mixins.center();
    @include mixins.padding();
    @include mixins.marginTopBottom();
    color: black;
    &:hover {
      color: white;
    }
  }
} */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hide */

.hide {
  display: none;
}

/* General Styles */
body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 145%;
  background: black;
}

.section-7 h2 {
  color: yellowgreen;
}

h1 {
  font-weight: 300;
  font-size: 3.75em;
}
h2 {
  line-height: 125%;
  font-weight: 300;
  font-size: 2.1875em;
}
h3 {
  font-weight: 300;
  font-size: 1.875em;
}
h4 {
  font-weight: 600;
  font-size: 0.8125em;
}
h5 {
  font-weight: 600;
  font-size: 0.75em;
}
p {
  font-weight: 400;
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
li {
  list-style: none;
}
section,
footer {
  display: block;
  width: 100%;
}
label {
  display: none;
}

/* landing */

.mobileHeadline {
  display: none;
  text-align: left;
  margin: 0 auto;
  color: seashell;
  font-size: 4em;
  font-weight: 200;
}

/* about */

.icon {
  position: relative;
  margin-left: -20px;
}

.icon1 {
  width: 30px;
  height: 30px;
  transform: scale(1.4);
  margin-bottom: 15px;
  margin-left: 15px;
}

.iconjs {
  width: 30px;
  height: 30px;
  transform: scale(1.4);
  margin-bottom: 15px;
  margin-left: 15px;
}
.icon2 {
  width: 30px;
  height: 30px;
  transform: scale(1.4);
  margin-bottom: 15px;
  margin-left: 30px;
}
.icon3 {
  width: 30px;
  height: 30px;
  transform: scale(1.02);
  margin-bottom: 15px;
  margin-left: 30px;
}

.icon4 {
  width: 30px;
  height: 30px;
  transform: scale(1.02);
  margin-bottom: 15px;
  margin-left: 15px;
}

.icon5 {
  width: 30px;
  height: 30px;
  transform: scale(1.02);
  margin-bottom: 15px;
  margin-left: 33px;
}

.icon6 {
  width: 30px;
  height: 30px;
  transform: scale(1.02);
  margin-bottom: 15px;
  margin-left: 35px;
}

/* svg */

/**** contact button ***/

.contactbtn {
  background-color: transparent;
  border: none;
  margin-top: 20px;
}

.contactbtn p {
  text-align: center;
  margin: 0 auto;
  color: seashell;
  font-size: 20px;
  font-weight: 200;
}

.contactbtn p:hover {
  cursor: pointer;
  color: orange;
  letter-spacing: 0.1em;
  transition: 0.5s ease-in-out;
}

button:focus {
  border: none;
  outline: 0 !important;
  text-decoration: none;
}

/* portfolio section */

.section-3 h2 {
  color: seashell;
  font-weight: 400;
}

/* 12 Column Grid Layout */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.row {
  width: 1170px;
  margin: 0 auto;
  background-color: transparent;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}

/* Section-1 Styles */
.section-1 {
  /* padding: 4% 0 21.6em 0; */
  background: black url("https://instinctif.com/content/uploads/2014/05/1920x1080px_Content.jpg") no-repeat center center;
  background-size: cover;
  color: seashell;
  .logo {
    position: fixed;
    right: 195px;
    transform: scale(0.4);
    filter: invert(1);
    margin-bottom: 100px;
    height: 7em;
    padding-left: 7%;
    font-family: Merriweather, serif;
    font-weight: 900;
    font-size: 1.3125em;
    font-style: italic;
    background: transparent;
    z-index: 1;
    &::before {
      position: fixed;
      top: 0px;
      left: 15px;
      width: 47px;
      height: 47px;
      border: 4px solid #fff;
      border-radius: 50%;
    }
    &::after {
      position: fixed;
      top: 15px;
      left: 30px;
      width: 17px;
      height: 17px;
      border: 4px solid #fff;
      border-radius: 50%;
    }
  }
  aside {
    position: relative;
    padding: 9.5em 0 1.5em 0;
    h5 {
      position: absolute;
      bottom: -1.5em;
      left: -27em;
      transform: rotate(270deg);
      text-transform: uppercase;
      span {
        font-weight: 300;
        letter-spacing: 0.1em;
      }
      a {
        color: #fff;
      }
    }
  }
  div:last-child {
    position: relative;
    img {
      position: absolute;
      top: -17em;
      right: 1.2em;

      height: 930px;
      width: 300px;
      overflow: hidden;
    }
  }
}

/* Section-2 Styles */
.section-2 {
  padding: 5% 0 3.5% 0;
  background-color: black;
  h2 {
    padding-bottom: 0;
    color: seashell;
    font-weight: 400;
  }
  .col-6 {
    padding-top: 0;
    p {
      padding-top: 4%;
      color: #959595;
    }
  }
}

/* Section-3 Styles */

.section-3 {
  max-width: 2400px;
  overflow-x: hidden;
  .wrapper {
    width: 1140px;
    height: inherit;
    margin: 0 auto;
    .gallery-translate {
      margin-left: -850px;
    }
    #gallery {
      transition: all 2s;
      display: flex;
      flex-flow: row wrap;
      width: 2000px;
      height: inherit;
      color: #fff;
      .gal-img {
        position: relative;
        padding: 50px 45px 0 45px;
        p:not(:last-child) {
          padding: 30px 0;
        }
        a {
          position: absolute;
          bottom: 50px;
          left: 45px;
          p {
            font-weight: 700;
            color: #fff;
          }
        }
        span {
          position: absolute;
          bottom: 50px;
          right: 45px;
          font-size: 1.5em;
          transform: rotate(90deg);
        }
        &:hover {
          -webkit-filter: brightness(110%);
          filter: brightness(110%);
        }
      }
      .first-img,
      .second-img,
      .third-img,
      .sixth-img {
        width: 400px;
        height: 278px;
      }
      .fourth-img,
      .fifth-img,
      .seventh-img {
        width: 800px;
        height: 278px;
        padding-right: 250px;
        background-size: cover;
      }
      .first-img {
        background: #f5989d;
        filter: grayscale(1);
      }
      .second-img {
        background: #615f7d;
        filter: grayscale(1);
      }
      .third-img {
        background: #091e28 url("https://www.congress-security.com/other-projects/take-page/image/box-3-img.png") no-repeat center center;
        filter: grayscale(1);
      }
      .fourth-img {
        background: #bd8cbf;
        filter: grayscale(1);
      }
      .fifth-img {
        background: #091e28 url("https://www.congress-security.com/other-projects/take-page/image/box-5-img.png") no-repeat center center;
        filter: grayscale(1);
      }
      .sixth-img {
        background: #82ca9c;
        filter: grayscale(1);
      }
      .seventh-img {
        background: #091e28 url("https://www.congress-security.com/other-projects/take-page/image/box-7-img.png") no-repeat center center;
        filter: grayscale(1);
      }
    }
  }
}

.first-img,
.second-img,
.third-img,
.fourth-img,
.fifth-img,
.sixth-img,
.seventh-img:hover {
  filter: grayscale(0);
}

/* Section-4 Styles */
.section-4 {
  padding: 5% 0 7.7% 0;
  aside {
    position: relative;
    h5 {
      position: absolute;
      bottom: -0.5em;
      left: -24em;
      transform: rotate(270deg);
      text-transform: uppercase;
      a {
        color: #959595;
      }
    }
    h2 {
      color: seashell;
      font-weight: 400;
    }
  }
  h4 {
    padding: 6% 0 6% 0;
    color: snow;
  }
  p {
    color: #959595;
  }
}

/* Section-5 Styles */
.section-5 {
  padding: 23.5% 0 6.1% 0;
  background: #bd8cbf url("https://www.congress-security.com/other-projects/take-page/image/middle-bg.png") no-repeat center center;
  background-size: cover;
  color: seashell;
  h2 {
    font-size: 3.75em;
    color: seashell;
    font-weight: 400;
  }
  .col-2 {
    padding-top: 0;
    font-weight: 700;
    color: seashell;
  }
}

/* Section-6 Styles */
/* .section-6 {
  padding: 5% 0 8.95% 0;
  color: seashell;
  background: #82ca9c;
  aside {
    position: relative;
    h5 {
      position: absolute;
      bottom: -0.5em;
      left: -24em;
      transform: rotate(270deg);
      text-transform: uppercase;
      a {
        color: #fff;
      }
    }
  }
  .col-4 {
    padding-right: 1.5em;
    h4 {
      padding: 6% 0 6% 0;
    }
  }
} */

/* Section-7 Styles */
.section-7 {
  /*  padding: 4.5% 0 6.75% 0; */
  background: black;

  .row {
    position: relative;
    h5 {
      position: absolute;
      top: 6em;
      left: -24em;
      transform: rotate(270deg);
      text-transform: uppercase;
      a {
        color: #8297a7;
      }
    }
  }
  .col-6 {
    padding: 2.3em 7em 3.5em 3.35em;
    button {
      text-transform: uppercase;
      color: #fff;
      border: none;
      outline: none;
      transition: all 0.3s;
    }
    .status {
      padding: 0.3em 1.2em;
      font-weight: 800;
      font-size: 0.6875em;
      letter-spacing: 0.1em;
      background: #e1e1e1;
      border-radius: 5px;
    }
    .content {
      padding: 1.5em 0;
      h3 {
        color: #2e3b4e;
      }
      p {
        padding-top: 1.5em;
        color: #8297a7;
      }
    }
    .buy-now {
      padding: 1.35em 2.15em;
      margin-bottom: 1.5em;
      font-weight: 700;
      font-size: 0.75em;
      letter-spacing: 0.2em;
      background: #82ca9c;
      border-radius: 3px;
      &:hover {
        -webkit-filter: contrast(115%);
        filter: contrast(115%);
        cursor: pointer;
      }
    }
    img {
      width: 1.5625em;
      height: 1.5625em;
      margin-right: 0.5em;
      text-align: center;
    }
  }
  .col-6:last-of-type .buy-now {
    padding: 1.35em 1.75em;
  }
  .col-6:hover {
    background: #fff;
    box-shadow: 0 0 50px #d6d6d6;
  }
  .col-6:hover .status {
    background: #bd8cbf;
  }
  .col-6:hover h3 {
    font-weight: 400;
  }
}

.section-7 h2 {
  color: seashell;
  font-weight: 400;
}

/* Footer */
footer {
  padding: 6.35% 0 7.3% 0;
  color: #fff;
  background: #192431;
  h4 {
    padding-bottom: 1em;
  }
  .col-6:last-child {
    padding-left: 9%;
    form {
      position: relative;
      width: 29.38em;
      height: 3.625em;
      margin-top: 0.4em;
      z-index: 10;
      overflow: hidden;
      border-radius: 3px;
      input {
        position: relative;
        height: 100%;
        vertical-align: middle;
        border: none;
        outline: none;
        z-index: 10;
      }
      input[type="email"] {
        width: 19.25em;
        padding-left: 1.5em;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 1.3em;
        color: #192431;
      }
      input[type="submit"] {
        width: 5.28em;
        margin-left: -5px;
        opacity: 0;
        transition: all 0.3s;
        &:hover {
          opacity: 0.1;
          cursor: pointer;
        }
      }
      .tick {
        position: absolute;
        bottom: -3em;
        right: -3.5em;
        padding: 75px;
        text-align: center;
        vertical-align: middle;
        transform: rotate(135deg);
        background: #82ca9c;
        z-index: 0;
        span {
          display: block;
          width: 30px;
          height: 15px;
          border-right: 1px solid #fff;
          border-top: 1px solid #fff;
        }
      }
      /* Submit Button Style with Unicode */
      /*.tick {
        position: absolute;
        top: -0.88em;
        left: 5.45em;
        padding: 75px;
        transform: rotate(135deg);
        font-size: 4em;
        font-weight: 100;
        color: #fff;
        background: #82ca9c;
        z-index: 0;
      }*/
    }
    p {
      padding-top: 1.5em;
      line-height: 125%;
      font-size: 0.75em;
      color: #57697f;
    }
  }
  .col-2 {
    a {
      font-weight: 400;
      font-size: 0.8125em;
      color: #fff;
    }
  }
}

/* Media Queries */

@media only screen and (min-width: 300px) {
  .section-1 div:last-child img {
    position: fixed;
    top: -12em;
    right: -7em;
    height: 670px;
    width: 190px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1800px) {
  body {
    font-size: 18px;
  }
  .row {
    width: 1600px;
  }
  .section-3 .wrapper {
    width: 1570px;
  }
  .section-3 .wrapper .gallery-translate {
    margin-left: -420px;
  }
  footer .col-6:last-child .tick {
    bottom: -2.5em;
    right: -3em;
  }
  .section-1 div:last-child img {
    position: absolute;
    top: -12em;
    right: 1em;
    height: 970px;
    width: 300px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1224px) {
  .col-3 {
    width: 50%;
  }
  .row {
    width: 980px;
  }
  .section-1 {
    padding: 4% 0 5em 0;
  }
  .section-1 aside {
    padding: 4em 0 1em 0;
  }
  .section-1 .logo {
    padding-left: 8.5%;
  }
  .section-1 .phone-img {
    display: none;
  }
  .section-2 .col-6:last-child {
    padding-top: 0;
  }
  .section-3 {
    height: 1112px;
  }
  .section-3 .wrapper {
    width: 950px;
  }
  .section-3 .wrapper #gallery {
    width: 800px;
    margin: 0 auto;
  }
  .second-img,
  .sixth-img {
    display: none;
  }
  footer .col-6:last-child {
    padding-left: 0.5%;
  }
}

@media only screen and (max-width: 1024px) {
  .col-6 {
    width: 100%;
  }
  .row {
    width: 700px;
  }
  .section-1 .logo {
    padding-left: 11%;
  }
  .section-3 {
    height: 834px;
  }
  .section-3 .wrapper {
    width: 760px;
  }
  .section-3 .wrapper #gallery {
    width: 760px;
  }
  .section-3 .wrapper #gallery .first-img,
  .section-3 .wrapper #gallery .third-img {
    width: 380px;
  }
  .section-3 .wrapper #gallery .fifth-img,
  .section-3 .wrapper #gallery .seventh-img {
    width: 760px;
  }
  .fourth-img {
    display: none;
  }
  footer {
    text-align: center;
  }
  footer .col-6:first-child {
    padding: 0 10%;
  }
  footer .col-6:last-child {
    padding-left: 1.5%;
  }
  footer .col-6:last-child form {
    margin: 0 auto;
  }
  footer .col-2 {
    width: 33.33%;
  }
  footer .col-2 h4,
  footer .col-2 ul li {
    padding-left: 33.33%;
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  .row {
    width: 460px;
  }
  .section-1 {
    padding: 4% 0 3em 0;
  }
  .section-1 .logo {
    padding-left: 20%;
  }
  .section-3 {
    display: none;
  }
  .section-4 h4,
  .section-6 .col-4 h4 {
    padding: 0 0 3% 0;
  }
  .section-5 {
    padding: 5% 0;
  }
  .section-7 .col-6 {
    padding: 2em;
  }
  footer .col-6:last-child {
    padding: 0;
  }
  footer .col-6:last-child h4 {
    padding-top: 3%;
  }
  footer .col-2 h4,
  footer .col-2 ul li {
    padding-left: 15%;
  }
}

@media only screen and (max-width: 480px) {
  .row {
    width: 320px;
    padding: 20px;
  }
  .section-1 {
    /* padding: 4% 0 21.6em 0; */
    background: black url(https://instinctif.com/content/uploads/2014/05/1920x1080px_Content.jpg) no-repeat center center;
    background-size: cover;
    background-position: left;
    color: seashell;
    height: 100vh;
  }

  .section-1 h1 {
    display: none;
  }

  .section-1 aside h1 {
    line-height: 20%;
    height: 35vh;
  }
  .section-1 .logo {
    padding-left: 30%;
  }

  .mobileHeadline {
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
  }
  .section-3 {
    display: none;
  }
  .section-5 {
    display: none;
  }
  .section-7 .col-6 {
    padding: 2em;
  }
  footer .col-6:last-child form {
    width: 20em;
  }
  footer .col-6:last-child form input[type="email"] {
    width: 12em;
  }

  .col-5 {
    position: relative;
    bottom: 45px;
  }
}
