@use 'partials/var';
@use 'partials/header';
@use 'partials/mixins';
@use 'partials/nav';

/*
   * BASIC STYLES
   */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to top, black 0%, cyan 100%);
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  background-color: black;
}

#preloader {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 9999;
}

/* pulse animation */

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.fe-pulse-w-pause {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.fe-pulse-w-pause:hover,
.fe-pulse-w-pause:focus {
  animation-name: unset;
}

/* preloader */

.hide {
  display: none;
}

.preloaderboxes {
  height: 32px;
  width: 32px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  margin-top: 32px;
  -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
  margin: 0 auto;
  display: block;
  margin-top: 320px;
}
.preloaderboxes .preloaderbox {
  width: 32px;
  height: 32px;
  top: 0px;
  left: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.preloaderboxes .preloaderbox:nth-child(1) {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-animation: box1 1s linear infinite;
  animation: box1 1s linear infinite;
}
.preloaderboxes .preloaderbox:nth-child(2) {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-animation: box2 1s linear infinite;
  animation: box2 1s linear infinite;
}
.preloaderboxes .preloaderbox:nth-child(3) {
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
  -webkit-animation: box3 1s linear infinite;
  animation: box3 1s linear infinite;
}
.preloaderboxes .preloaderbox:nth-child(4) {
  -webkit-transform: translate(200%, 0);
  transform: translate(200%, 0);
  -webkit-animation: box4 1s linear infinite;
  animation: box4 1s linear infinite;
}

.preloaderboxes .preloaderbox > div {
  background: ghostwhite;
  --translateZ: 15.5px;
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: darkblue;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.preloaderboxes .preloaderbox > div:nth-child(1) {
  top: 0;
  left: 0;
  background: hotpink;
}
.preloaderboxes .preloaderbox > div:nth-child(2) {
  background: lightblue;
  right: 0;
  --rotateY: 90deg;
}
.preloaderboxes .preloaderbox > div:nth-child(3) {
  background: ghostwhite;
  --rotateX: -90deg;
}
.preloaderboxes .preloaderbox > div:nth-child(4) {
  background: black;
  top: 0;
  left: 0;
  --translateZ: -90px;
}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

h1 {
  color: #fafafa;
  mix-blend-mode: overlay;
}

/* mobile-menu */

#leftsidebar {
  width: 3vw;
  height: 100vh;
  float: left;
  position: fixed;
  left: 0px;
  background-color: black;
  z-index: 10;
}

.aboutme {
  position: fixed;
  left: 0;
  top: 350px;
  transform: rotate(-90deg);
  color: white;
}

.contactme {
  position: fixed;
  right: 0;
  top: 350px;
  transform: rotate(90deg);
  color: white;
}

.credentials {
  position: fixed;
  color: lightslategray;
  font-weight: 600;

  transform: rotate(-90deg);
  left: -50px;
  bottom: 140px;
  font-size: 10px;
  z-index: 999;
}

#rightsidebar {
  width: 3.3vw;
  height: 100vh;
  float: right;
  position: fixed;
  right: 0px;
  background-color: black;
  z-index: 10;
}

#rightsidebar img {
  width: 50px;
  transform: scale(0.6);
  position: fixed;
  right: 2px;
  right: 0;
}

/*blur*/

.blurease {
  filter: blur(10px);
  transition: 0.5 ease-in-out;
}

.blur {
  filter: blur(20px);
  transition: 0.2 ease-in-out;
}

/* footer */

footer {
  background-color: black;
  width: 100%;
  height: 10vh;
  position: fixed;
  float: bottom;
  bottom: 0px;
}

/* socials */

.social {
  display: block;
  flex-direction: row;
  clear: both;
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  width: 100%;
  height: 5vh;
}

.social-links {
  padding: initial;
  display: flex;
  justify-content: center;
  transform: scale(0.5);
  margin: 0 auto;
}

.social-links li {
  display: inline;
  text-decoration: none;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.social-links li a {
  color: white;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-links li .facebook:hover {
  color: #3b5998;
}
.social-links li .linkedin:hover {
  color: #0077b5;
}
.social-links li .codepen:hover {
  color: #fcd000;
}
.social-links li .github:hover {
  color: lightgrey;
}
.social-links li .freecodecamp:hover {
  color: darkgreen;
}

/* drone gif*/

.drone {
  width: 100px;
  height: 100px;
  /*NBS! If background-image doesn't work the actual GIF is located in the folder static*/
  /*   background-image: url("https://cdn.clipart.email/199661771b0eeb26e2e1d86e6e75b332_vector-drones-animated-gif-transparent-png-clipart-free-download-_500-281.gif"); */
  background-image: url(/static/drone.gif);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 30px;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  filter: drop-shadow(2px 4px 6px black);
  z-index: 999;
}

.drone:hover {
  transform: scale(0.5);
  transition: 0.8s ease;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: pointer;
}

/* drone animations */

.skewing {
  animation: skewing 2s 1.5s ease-in-out infinite;
}

.skewing-child {
  animation: skewing-child 0.2s ease-in-out infinite alternate;
}

.moving {
  animation: moving 6.6s cubic-bezier(0.97, 0.01, 0.12, 0.99) infinite alternate;
  top: 65px;
  transition: 0.5s ease;
}

.moving2 {
  animation: moving2 20.6s cubic-bezier(0.97, 0.01, 0.12, 0.99) infinite alternate;
}

.moving3 {
  animation: moving3 16.6s cubic-bezier(0.97, 0.01, 0.12, 0.99) infinite alternate;
}

.moving4 {
  animation: moving4 26.6s cubic-bezier(0.97, 0.01, 0.12, 0.99) infinite alternate;
}

.moving5 {
  animation: moving5 28.6s cubic-bezier(0.97, 0.01, 0.12, 0.99) infinite alternate;
}

.squishing {
  animation: squishing 1s ease-in-out infinite alternate;
}

.squishing2 {
  animation: squishing2 38s ease-in-out infinite alternate;
}

.hoverUp {
  animation: hoverUp 2s ease-in-out infinite alternate;
}

@keyframes hoverUp {
  0% {
    top: 0;
  }

  30% {
    top: -80px;
  }

  100% {
    top: 100px;
  }
}

@keyframes skewing {
  0% {
    transform: skewX(6deg);
  }
  10% {
    transform: skewX(-6deg);
  }
  20% {
    transform: skewX(4deg);
  }
  30% {
    transform: skewX(-4deg);
  }
  40% {
    transform: skewX(2deg);
  }
  50% {
    transform: skewX(-6deg);
  }
  55% {
    transform: skewX(6deg);
  }
  60% {
    transform: skewX(-5deg);
  }
  65% {
    transform: skewX(5deg);
  }
  70% {
    transform: skewX(-4deg);
  }
  75% {
    transform: skewX(4deg);
  }
  80% {
    transform: skewX(-3deg);
  }
  85% {
    transform: skewX(3deg);
  }
  90% {
    transform: skewX(-2deg);
  }
  95% {
    transform: skewX(2deg);
  }
  100% {
    transform: skewX(1deg);
  }
}

@keyframes skewing-child {
  0% {
    transform: skewX(-10deg);
  }
  100% {
    transform: skewX(10deg);
  }
}

@keyframes moving {
  0% {
    transform: translate(-200px);
  }
  30% {
    transform: translate(-45px);
  }
  70% {
    transform: translate(45px);
  }
  100% {
    transform: translate(200px);
  }
}

@keyframes moving2 {
  0% {
    transform: translate(-200px);
  }
  30% {
    transform: translate(-45px);
  }
  70% {
    transform: translate(45px);
  }
  100% {
    transform: translate(200px);
  }
}

@keyframes moving3 {
  0% {
    transform: translate(-200px);
  }
  70% {
    transform: translate(45px);
  }
  100% {
    transform: translate(200px);
  }
}

@keyframes moving4 {
  0% {
    transform: translate(-200px);
  }

  100% {
    transform: translate(200px);
  }
}

@keyframes moving5 {
  0% {
    transform: translate(-200px);
  }

  100% {
    transform: translate(200px);
  }
}

@keyframes squishing {
  10%,
  40%,
  80% {
    transform: scale(1, 0.9);
  }
  0%,
  30%,
  60%,
  100% {
    transform: scale(0.9, 1);
  }
}

@keyframes squishing2 {
  10%,
  40%,
  80% {
    transform: scale(1, 0.9);
  }
  0%,
  30%,
  60%,
  100% {
    transform: scale(0.9, 1);
  }
}
.bounce {
  animation: bounce 22s infinite;
  -webkit-animation: bounce 22s infinite;
  -moz-animation: bounce 22s infinite;
  -o-animation: bounce 22s infinite;
}

.bounce2 {
  animation: bounce 30s infinite;
  -webkit-animation: bounce 30s infinite;
  -moz-animation: bounce 30s infinite;
  -o-animation: bounce 30s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* mountain ridge */

.mountainridge {
  background-image: url("/static/mountainridge.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  position: absolute;
  bottom: 0;
  filter: drop-shadow(100px 4px 1px black);
  opacity: 0.3;
}

/* cloud */

.cloud1 {
  background-image: url("/static/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  filter: brightness(0.5);
}

.cloud2 {
  background-image: url("/static/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 100px;
  height: 200px;
  top: 40px;
  left: 370px;
  transform: scale(0.6);
  filter: drop-shadow(2px 4px 6px black);
}

.cloud3 {
  background-image: url("/static/cloud.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 20px;
  right: 0;
  filter: brightness(0.65);
}

.cloud4 {
  background-image: url("/static/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 40px;
  right: 60px;
  transform: scale(0.7);
  filter: drop-shadow(2px 4px 6px black);
}

.cloud5 {
  background-image: url("/static/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 110px;
  right: 360px;
  transform: scale(0.89);
  filter: drop-shadow(2px 4px 6px black);
}

.cloud6 {
  background-image: url("/static/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 400px;
  height: 400px;
  top: -170px;
  left: 0;
  filter: invert(1);
}

.cloud7 {
  background-image: url("/static/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 200px;
  height: 300px;
  top: 170px;
  left: 100px;
  z-index: 9;
  filter: brightness(0.5);
}

/*Main h1*/

.overlay {
  width: 900px;
  height: 800px;
  opacity: 14.2%;
  background-color: orange;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  filter: blur(100px);
}

.mainheadline {
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 190px;
  color: deeppink;
  position: fixed;
  top: 20px;
  filter: drop-shadow(2px 4px 6px black);
}

.mainheadline2 {
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 190px;
  color: deeppink;
  position: fixed;
  top: 190px;
  filter: drop-shadow(2px 4px 6px black);
}

.mainheadline h3 {
  font-family: acumin-pro-wide, sans-serif;
  position: fixed;
  font-size: 260px;
  left: -20px;
  bottom: 10px;
  color: deeppink;
  font-weight: 800;
  filter: drop-shadow(2px 4px 6px black);
}

main h1 {
  background-color: black;
  opacity: 0.4;
  font-family: p22-zaner-pro-four, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: white;
  filter: blur(25px);
  margin: 0 auto;
  position: fixed;
  /* left: -20px; */
  top: -80px;
  font-size: 220px;
  transform: skewX(10deg);
  padding: 126px;
}

/* fadeIN */

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* canvas AKA BIG SLIME BLACK DOT IN MIDDLE*/
canvas {
  filter: drop-shadow(2px 4px 6px black);
  opacity: 40%;
  z-index: 2;
}

/*bubble1 header*/

.bubble1 {
  background-image: url(/static/bubble1.png);
  background-size: 50% 10%;
  background-repeat: repeat-x;
  position: fixed;
  transform: scale();
  width: 100%;
  filter: brightness(22.5);
}
