*,
*::before,
*::after {
  /*  font-family: "Yantramanav", sans-serif; */
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

ul,
a {
  list-style-type: none;
  text-decoration: none;
}

/* Mobile nav & Burgermenu sektion -START- */

#mobile-menu {
  height: 75px;
  background-color: transparent;
}

.mobile-menu-dropdown {
  position: absolute;
  z-index: 998;
  color: black;
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(2, 4, 25, 1) 23%, rgba(19, 72, 79, 1) 100%);
  height: 100vh;
  display: inline-block;
  transition: 200ms left cubic-bezier(0.77, 0, 0.175, 1);
  width: 500px;
  left: -500px;
  padding: 50px;
}

.mobile-logo img {
  width: 300px;

  position: absolute;
  filter: hue-rotate(-82deg);
  opacity: 80%;
  transform: rotate3d(6, 7, 5, 45deg);
  background-color: black;

  animation-name: fade-in-right;
}

.mobile-menu-dropdown.active {
  left: 0;
  top: 0;
  width: 100%;
}

.atags-mobile-menu a {
  display: block;
  position: relative;
  margin-bottom: 30px;
  top: 50px;
  color: white;
  line-height: 20px;
  text-align: left;

  animation-name: fade-in-left;
}

.atags-mobile-menu a:hover {
  color: orange;
  text-decoration: underline;
}

/* burgermenu'en & span's rotationer  -START- */

.menu__toggler {
  position: absolute;
  top: 23px;
  right: 25px;
  z-index: 999;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
  position: absolute;
  content: "";
  width: 28px;
  height: 2.5px;
  background: ghostwhite;
  border-radius: 20px;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu__toggler span::before {
  top: -8px;
}

.menu__toggler span::after {
  top: 8px;
}

.menu__toggler.active > span {
  background: transparent;
}

.menu__toggler.active > span::before,
.menu__toggler.active > span::after {
  background: #d10e54;
  filter: contrast(11);
  top: 0px;
}

.menu__toggler.active > span::before {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.menu__toggler.active > span::after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* burgermenu'en & span's rotationer SLUT*/
/* Animation til text -START- */
.fade-in-left {
  -webkit-animation: fadeinleft 600ms ease-in-out;
  -moz-animation: fadeinleft 600ms ease-in-out;
  -o-animation: fadeinleft 600ms ease-in-out;
  -ms-animation: fadeinleft 600ms ease-in-out;
  animation: fadeinleft 600ms ease-in-out;
}

@-webkit-keyframes fadeinleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@-moz-keyframes fadeinleft {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}

@keyframes fadeinleft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Animation til text -SLUT- */

/* animation logo */

.rotateAnimation {
  animation: rotateAnimation 29s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(40deg);
  }
  to {
    transform: rotateY(399deg);
  }
}

/* Mobile nav & Burgermenu sektion -SLUT- */

/* Desktop Menu -START- */

#desktop-menu {
  display: none;
  width: 100vw;
  height: 100px;
  justify-content: flex-end;
}

#desktop-menu a {
  margin: 40px;
  font-weight: 200;
  color: white;
}

#desktop-menu a:hover {
  color: rgb(124, 202, 238);
  color: radial-gradient(circle, rgba(124, 202, 238, 1) 0%, rgba(26, 50, 61, 1) 78%, rgba(2, 0, 36, 1) 100%);
}

.atags-desktop-menu {
  display: flex;
  margin-top: 10px;
}

/* Desktop Menu -SLUT- */

/* Media Queries -START-*/

@media only screen and (min-width: 728px) {
  #mobile-menu {
    display: none;
  }

  #desktop-menu {
    display: flex;
  }
}

/* Media Queries -SLUT-*/
